Isolating attempt

In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [2]:
Internet_Usage = pd.read_csv('Internet_Usage.csv', encoding = "ISO-8859-1")
new_header = Internet_Usage.iloc[0] #grab the first row for the header
Internet_Usage = Internet_Usage[1:] #take the data less the header row
Internet_Usage.columns = new_header #set the header row as the df header
Internet_Usage.head()

,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2000,Percentage of individuals using the internet,6.5,NaN,"International Telecommunication Union (ITU), G..."
2,1,"Total, all countries or areas",2005,Percentage of individuals using the internet,16.8,NaN,"International Telecommunication Union (ITU), G..."
3,1,"Total, all countries or areas",2010,Percentage of individuals using the internet,29.3,NaN,"International Telecommunication Union (ITU), G..."
4,1,"Total, all countries or areas",2015,Percentage of individuals using the internet,41.1,NaN,"International Telecommunication Union (ITU), G..."
5,1,"Total, all countries or areas",2017,Percentage of individuals using the internet,46.3,NaN,"International Telecommunication Union (ITU), G..."

In [3]:
Internet_Usage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1357 entries, 1 to 1357
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Region/Country/Area  1357 non-null   object
 1   nan                  1357 non-null   object
 2   Year                 1357 non-null   object
 3   Series               1357 non-null   object
 4   Value                1357 non-null   object
 5   Footnotes            599 non-null    object
 6   Source               1357 non-null   object
dtypes: object(7)
memory usage: 74.3+ KB

In [4]:
# Remove duplicate column name that caused columns names to shift left
cols = list(Internet_Usage.columns)
cols[1] = 'country'
Internet_Usage.columns = cols

In [5]:
continents = ['Total, all countries or areas', 'Northern Africa', 'Sub-Saharan Africa', 'Eastern Africa', 
              'Middle Africa', 'Southern Africa', 'Western Africa', 'Northern America', 
              'Latin America & the Caribbean', 'Caribbean', 'Latin America', 'Asia', 'Central Asia', 
              'Eastern Asia', 'South-central Asia', 'South-eastern Asia', 'Southern Asia', 'Western Asia', 
              'Europe', 'Oceania', 'Australia and New Zealand']
for i in continents:
    Internet_Usage= Internet_Usage[Internet_Usage['country'].str.contains(i)==False]

In [6]:
Internet_Usage= Internet_Usage[Internet_Usage['Year'].str.contains('2015')!=False]

In [7]:
Internet_Usage = Internet_Usage.rename(columns={'Value': 'Individuals using the Internet (per 100 inhabitants)'})
Internet_Usage = pd.DataFrame(Internet_Usage[['country', 'Year', 'Individuals using the Internet (per 100 inhabitants)']])
Internet_Usage

,country,Year,Individuals using the Internet (per 100 inhabitants)
150,Afghanistan,2015,8.3
155,Albania,2015,63.3
161,Algeria,2015,38.2
167,Andorra,2015,96.9
172,Angola,2015,12.4
...,...,...,...
1330,Venezuela (Boliv. Rep. of),2015,64.0
1335,Viet Nam,2015,45.0
1345,Yemen,2015,24.1
1350,Zambia,2015,21.0
1356,Zimbabwe,2015,22.7